# HW4

In [1]:
# Author: Akimori Ino
# Date: 20200224
# CS301-006, Professor Watson
# HW04 Solution
# Practice locating/Selecting/Modifying dataframes
# https://github.com/aci3/CS301
# N/A
# master

In [2]:
import pandas as pd
import numpy as np

<strong>Problem 1 - get_percent_nans</strong>

In [3]:
def get_percent_nans(df, column_name):
    return len(df.loc[(df[column_name].isna())])/len(df)*100

In [4]:
df = pd.read_csv("2019_nCoV_20200121_20200206.csv")
for col in df.columns:
    print('The \"{}\"clumn has {:.2f}% empty values'.format(col, get_percent_nans(df, col)))

The "Province/State"clumn has 24.45% empty values
The "Country/Region"clumn has 0.00% empty values
The "Last Update"clumn has 0.00% empty values
The "Confirmed"clumn has 1.60% empty values
The "Suspected"clumn has 95.31% empty values
The "Recovered"clumn has 46.67% empty values
The "Death"clumn has 53.22% empty values

<strong>Problem 2</strong>

In [5]:
country_df = df.groupby(['Country/Region']).agg({'Death':'sum'}).sort_values(['Death'], ascending=False)
print(country_df)
country_df.index[0]

                       Death
Country/Region
Mainland China        6539.0
Philippines             10.0
Hong Kong                4.0
Australia                0.0
Russia                   0.0
Singapore                0.0
South Korea              0.0
Spain                    0.0
Sri Lanka                0.0
Mexico                   0.0
Sweden                   0.0
Taiwan                   0.0
Thailand                 0.0
UK                       0.0
United Arab Emirates     0.0
United States            0.0
Nepal                    0.0
Malaysia                 0.0
Belgium                  0.0
Macau                    0.0
Japan                    0.0
Ivory Coast              0.0
Italy                    0.0
India                    0.0
Germany                  0.0
France                   0.0
Finland                  0.0
Colombia                 0.0
Canada                   0.0
Cambodia                 0.0
Brazil                   0.0
Vietnam                  0.0

'Mainland China'

Looking at the code above, it can be seen that <strong>Mainland China</strong> has the most amount of deaths occured at that time

<strong>Problem 3</strong>

In [6]:
country_df = df.groupby(['Country/Region']).agg({'Suspected':'sum'}).sort_values(['Suspected'], ascending=False)
print(country_df)
country_df.index[0]

                      Suspected
Country/Region
Hong Kong                1139.0
Mainland China            839.0
Malaysia                    4.0
Philippines                 4.0
Mexico                      1.0
Australia                   1.0
Brazil                      1.0
Colombia                    1.0
Russia                      0.0
United States               0.0
United Arab Emirates        0.0
UK                          0.0
Thailand                    0.0
Taiwan                      0.0
Sweden                      0.0
Sri Lanka                   0.0
Spain                       0.0
South Korea                 0.0
Singapore                   0.0
Finland                     0.0
France                      0.0
Nepal                       0.0
Cambodia                    0.0
Belgium                     0.0
Canada                      0.0
Macau                       0.0
Japan                       0.0
Ivory Coast                 0.0
Italy                       0.0
India                       0.0
Germany                     0.0
Vietnam                     0.0

'Hong Kong'

Looking at the code above, it can be seen that <strong>Hong Kong</strong> has the highest number of suspected cases

<strong>Problem 4</strong>

In [7]:
country_df = df.groupby(['Country/Region']).agg({'Suspected':'mean'}).sort_values(['Suspected'], ascending=False)
country_df
country_df.index[1]

'Mainland China'

Looking at the code above, it can be seen that <strong>Mainland China</strong> has the second highest average number of recovered people

<strong>Problem 5</strong>

In [8]:
countries = {
    "Hong Kong":"Asia",
    "Mainland China":"Asia",
    "Malaysia":"Asia",
    "Philippines":"Asia",
    "Japan":"Asia",
    "Singapore":"Asia",
    "Cambodia":"Asia",
    "India":"Asia",
    "Nepal":"Asia",
    "Macau":"Asia",
    "South Korea":"Asia",
    "Sri Lanka":"Asia",
    "Taiwan":"Asia",
    "United Arab Emirates":"Asia",
    "Thailand":"Asia",
    "Vietnam":"Asia",
    "Australia":"Australia",
    "Brazil":"South America",
    "Columbia":"South America",
    "Mexico":"North America",
    "Belgium":"Europe",
    "Canada":"North America",
    "Finland":"Europe",
    "France":"Europe",
    "Germany":"Europe",
    "Italy":"Europe",
    "Ivory Coast":"Africa",
    "Russia":"Europe and Asia (Russia)",
    "Spain":"Europe",
    "Sweden":"Europe",
    "UK":"Europe",
    "United States":"North America"    
}

<strong>Problem 6</strong>

In [9]:
def get_continent(country):
    countries = {
    "Hong Kong":"Asia",
    "Mainland China":"Asia",
    "Malaysia":"Asia",
    "Philippines":"Asia",
    "Japan":"Asia",
    "Singapore":"Asia",
    "Cambodia":"Asia",
    "India":"Asia",
    "Nepal":"Asia",
    "Macau":"Asia",
    "South Korea":"Asia",
    "Sri Lanka":"Asia",
    "Taiwan":"Asia",
    "United Arab Emirates":"Asia",
    "Thailand":"Asia",
    "Vietnam":"Asia",
    "Australia":"Australia",
    "Brazil":"South America",
    "Columbia":"South America",
    "Mexico":"North America",
    "Belgium":"Europe",
    "Canada":"North America",
    "Finland":"Europe",
    "France":"Europe",
    "Germany":"Europe",
    "Italy":"Europe",
    "Ivory Coast":"Africa",
    "Russia":"Europe and Asia (Russia)",
    "Spain":"Europe",
    "Sweden":"Europe",
    "UK":"Europe",
    "United States":"North America"    
}
    return countries[country]

In [10]:
get_continent("Russia")

'Europe and Asia (Russia)'

<strong>Problem 7</strong>

In [11]:
country = []
continent = []
for key in countries:
    country.append(key)
    continent.append(countries[key])

merging = pd.DataFrame({'Country/Region':country,'Continent':continent})
#print(merging)
newdf = df.merge(merging, on='Country/Region', how='inner')
newdf

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
...,...,...,...,...,...,...,...,...
1871,NaN,Sweden,1/31/2020 14:00,1.0,NaN,NaN,NaN,Europe
1872,NaN,Ivory Coast,1/27/2020 20:30,NaN,NaN,NaN,NaN,Africa
1873,NaN,Ivory Coast,1/27/2020 19:00,1.0,NaN,NaN,NaN,Africa
1874,NaN,Mexico,1/23/20 12:00 PM,NaN,1.0,NaN,NaN,North America
1875,NaN,Brazil,1/23/20 12:00 PM,NaN,1.0,NaN,NaN,South America

<strong>Problem 8</strong>

In [12]:
confirmed = newdf.groupby(['Continent']).agg({'Confirmed':'sum'}).sort_values(['Confirmed'], ascending=False)
confirmed

                          Confirmed
Continent
Asia                       304958.0
Europe                        395.0
North America                 273.0
Australia                     238.0
Europe and Asia (Russia)       26.0
Africa                          1.0
South America                   0.0

I listed Russia as 'Europe and Asia' so it may affect the output